.solent__background {
    background-image: url("../../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    width: 100%;
    /* Set the width to 100% */
    position: relative;
}

/* Add responsiveness for smaller screens */
@media screen and (max-width: 768px) {
    .solent__background {
        height: 80vh;
        /* Adjust the height for smaller screens */
    }
}

/* Add responsiveness for even smaller screens */
@media screen and (max-width: 576px) {
    .solent__background {
        height: 60vh;
        /* Adjust the height for smaller screens */
    }
}

/*Your Commute your Way
 Welcome to Solent RideShare! styling*/
.solent__label {
    height: 261px;
    width: 631px;
}

.solent__label .solent__slogan {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 3rem;
    max-width: 90%;
    font-weight: 700;
    left: 20px;
    letter-spacing: 0;
    line-height: 67.9px;
    position: relative;
    width: 631px;
    top: 70px;
}

.solent__label .solent__text-wrapper {
    color: #ffffff;
}

.solent__label .welcome__span {
    color: #caca07;
}

@media (max-width: 600px) {

    .solent__label {
        text-align: center;
    }

    .solent__label .solent__slogan {
        font-size: 2rem;
    }

}

.searching {
    background-color: #000000b2;
    border-radius: 16px;
    height: 80px;
    position: relative;
    width: 789px;
    top: 150px;
}

.searching .find-a-ride-button {
    background-color: #af1904;
    border-radius: 10px;
    height: 43px;
    left: 606px;
    position: absolute;
    top: 16px;
    width: 159px;
    color: #ffffff;
}

/* Hover effect: change background color and text color */
.searching .find-a-ride-button:hover {
    background-color: white;
    color: #af1904;
}

.searching .solent__find-a-ride {
    color: var(--white);
    font-family: "Inter-Bold", Helvetica;
    font-size: 16.7px;
    font-weight: 700;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
}

.searching .solent__pickup-location {
    color: #ffffff;
    font-size: 18.8px;
    font-weight: 400;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 158px;
}

.pickup__input-box::placeholder {
    color: grey;
}


.searching .solent__pickup-date {
    color: #ffffff;
    font-size: 18.8px;
    font-weight: 400;
    left: 278px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 45px;
}


.searching .solent__pickup-time {
    color: #ffffff;
    font-size: 18.8px;
    font-weight: 400;
    left: 433px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 46px;
}

.pickup__input-box {
    font-size: 16px;
    font-weight: 400;
    top: 23px;
    width: 180px;
    border-radius: 16px;
}

.pickup__location {
    text-align: center;
}

input[type="date"] {
    font-size: 16px;
    font-weight: 400;
    border-radius: 16px;
    top: 23px;
    width: 140px;
    text-align: center;
}


input[type="time"] {
    font-size: 16px;
    font-weight: 400;
    border-radius: 16px;
    top: 23px;
    width: 90px;
    text-align: center;

}


/* Style SVG elements to look like links when hovered */
.solent__pickup-date svg:hover,
.solent__pickup-time svg:hover {
    cursor: pointer;
    /* Change cursor to pointer when hovering */
    fill: #af1904;
    /* Change fill color on hover to indicate interactivity */
}