/* Style for the footer container */
.solent__footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: black;
    justify-content: center;
    /* centers containers */
}

.solent__ride,
.solent__quick-links,
.solent__contact {
    display: flex;
    width: 30%;
    flex-direction: column;
    text-align: center;
}


/* Style for the SolentRideShare text */
/* .solent__ride {
} */

.solent__ride-share {
    margin-bottom: 20px;
}

.solent__ride .text-wrapper {
    color: #ffffff;
}

.solent__ride .span {
    color: #af1904;
}

.solent__social {
    display: flex;
    justify-content: center;

}

/* Style for the social media icons */

.social__media-icon {
    fill: white;
    width: 32px;
    margin: 0 3px;
}

.social__media-icon:hover {
    fill: #af1904;
    transition: fill ease-in 0.3s;
}


.quick-links,
.contact {
    display: block;
    margin-bottom: 10px;
    color: #af1904;
    font-weight: bold;
    font-family: var(--font-family);
}


.solent__quick-links .quick-links {
    color: #af1904;
    font-weight: bold;
    margin-bottom: 20px;
    flex-basis: 25%;
    font-family: var(--font-family);
}

.solent__quick-links p {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Quick links */
.solent__quick-links a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.solent__quick-links a:hover {
    color: #af1904;
}

/* Style for the Contact Us section */
.solent__contact {
    flex-basis: 30%;
    /* Adjust the width as needed */
    margin-bottom: 20px;
}

.solent__contact p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.solent__contact a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.solent__contact .contact {
    color: #af1904;
    font-weight: bold;
    margin-bottom: 20px;
    flex-basis: 25%;
    font-family: var(--font-family);
}

.solent__contact a:hover {
    color: #af1904;
}

.email {
    margin-bottom: 10px;
}

@media (max-width: 600px) {

    .solent__footer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .solent__ride,
    .solent__quick-links,
    .solent__contact {
        width: 100%;
        margin: 1rem 0;
    }

    .solent__contact {
        align-self: flex-start;
        margin-bottom: 0;
    }

}